/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Masquer les balises <p> dans la page */
p {
  display: none;
}

/* Modal form */

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

h2,
h3,
h1 {
  margin: 3vh auto;
}
